.main-section {
  width: 100%;
  background-color: var(--light-gray-color);
  padding: 210px 0 106px 0;
}

.main-section__wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content 90px min-content;
  grid-column-gap: 61px;
  justify-content: center;
}

.logo {
  width: 196px;
  height: 208px;
  grid-area: 1/1/-1/2;
}

.header {
  font-family: fredoka-one, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 128px;
  background: linear-gradient(80deg, #FF8E3F, #FF5A13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff8e3f;
  letter-spacing: -2.52px;
  line-height: 1.3;
  grid-area: 1/2/2/-1;
  display: inline;
  transform: translateY(-18%);
  text-shadow: 0px 4px 4px rgba(255, 80, 0, 0.4);
}

.text {
  grid-area: 2/2/3/-1;
  font-size: 20px;
  color: var(--text-color-light-gray);
}

.buttons {
  grid-area: 5/2/-1/-1;
  display: flex;
  gap: 15px;
}


@media  (max-width: 768px) {
  .buttons{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  .text {
    text-align: center;
  }

  .buttons p{
    font-size: 5vw;
  }

  .logo{
    margin: 20px 0;
  }
  .header{
    font-size: 12vw;
  }
  .main-section{
    padding: 10px 0;
  }
  .main-section__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Ноутбуки */
@media (min-width: 769px) and (max-width: 1280px) {

}

/* Десктопы */
@media (min-width: 1281px) {
  /* Стили для десктопов */
}
