.list-section {
	padding: 64px 0 50px 0;
}

.text {
	text-align: center;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 500;
	margin-bottom: 30px;
}

.content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-gap: 15px;
	justify-content: center;
	justify-items: center;
}