.title {
	font-size: 96px;
	letter-spacing: -2.88px;
	background: linear-gradient(80deg, #FF8E3F, #FF5A13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff8e3f;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(255, 80, 0, 0.4);
}