.header-color {
	width: 100%;
	background: var(--main-gradient);
	padding: 7px 0;
	position: absolute;
	min-height: 50px;
	z-index: 1;
}
.header-color-open {
	min-height: 280px;
}


.header-placeholder {
	height: 60px;
	display: flex;
	justify-content: center;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	width: 100%;
}

.header__title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.header__nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 1.5rem;
	font-weight: 600;
	list-style: none;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	top: 50px;
	right: 0;
	width: 100%;
	transform: translateY(0);
	z-index: 2;
}

.header__nav.open {
	display: flex;
	padding: 15px;
	opacity: 1;
	transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.header__nav__element {
	list-style: none;
	margin: 0;
	transition: 0.5s ease;
}




.left-part {
	display: flex;
	gap: 30px;
}

.right-part {
	display: flex;
	gap: 20px;
	align-items: center;
}

.right-part a {
	display: flex;
}

.right-part a svg {
	fill: #ffffff;
}

/* гамбургер*/
.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
	flex-direction: column;
	gap: 5px;
}

.menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: white;
	display: block;
}


/**/




@media (hover: hover) {
	.header__nav__element:hover {
		text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
		transition: 0.5s ease;
	}
	svg.header__nav__element:hover {
		opacity: 0.8;
		transition: 0.5s ease;
	}
	.menu-toggle:hover {
		border-color: rgba(255, 255, 255, 0.7);
	}
}

@media (hover: none) {
	.header__nav__element:active {
		text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
		transition: 0.5s ease;
	}
	svg.header__nav__element:active {
		opacity: 0.8;
		transition: 0.5s ease;
	}
}


/* Для планшетов (более 768px) */
@media (min-width: 768px) and (max-width: 1024px) {
	.header__nav {
		font-size: 1.2rem;
		gap: 1.5rem;
	}
}

/* Для больших экранов */
@media (min-width: 1025px) {
	.header__nav {
		font-size: 1.5rem;
	}

}

