@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#link:hover {
    opacity: 0.85;
}

.navbar {
    position: relative;
    background: linear-gradient(135deg, #FF8E3F 0%, #FF450B 100%);
    box-shadow: 0px 0px 10px 6px rgba(255, 106, 37, 0.4);
}

.logo_font {
    font-family: "Fredoka", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: white;
    word-wrap: break-word;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.45);
}

.tabs_font {
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    word-wrap: break-word;
}
