.card {
	width: 250px;
	background-color: #272727;
	border-radius: 15px;
	padding: 20px 14px 13px 14px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: center;
}

.image {
	border-radius: 50%;
	background-color: #FF8E3F;
	width: 200px;
	height: 200px;
}

.title {
	font-size: 28px;
	font-weight: 700;
}

.skills {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 18px);
	grid-gap: 5px;
	justify-content: center;
	justify-items: center;
}

.skills svg {
	fill: rgba(255, 255, 255, 0.5);
	width: 18px;
	height: 18px;
}

.contacts {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
	grid-auto-flow: column;
	grid-gap: 10px;
	justify-content: center;
}

.contact-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #343434;
	border-radius: 5px;
	height: 45px;
}

.contact-btn svg {
	fill: rgba(255, 255, 255, 0.6)
}